/*
    || TABLE OF CONTENT :
        -- GENERAL CODES [body,ul,a,container,etc..]
        -- SMALL LIBRARY [flx,btn,etc..]
        -- ERROR PAGE STYLE
        --
*/


/*  GENERAL  */
:root {
    --clr-main: #422752;
}

body {
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: #eee;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

input,
input:focus {
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}

.container {
    padding-left: 80px;
    padding-right: 80px;
}

main {}


@media (max-width: 776px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/*  SMALL LIBRARY  */
.flx-col {
    display: flex;
    flex-direction: column;

}

.flx-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flx-arround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flx-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxed {
    background-color: #eee;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 10px;
    text-transform: capitalize;
}

.btn {
    padding: 5px 10px;
    border: 2px solid;
    width: fit-content;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s;
}

@media (max-width: 442px) {
    .btn {
        font-size: 12px;
        border: 1px solid;
    }
}

.btn:hover {
    opacity: .8;
    transform: translateY(-2px);
}

.drk-btn {
    background-color: var(--clr-main);
    color: white;
}

.light-btn {
    color: var(--clr-main);
    background-color: white;
}

.danger-btn {
    background-color: indianred;
    color: white;
    transition: all .5s;
}

.danger-btn:hover {
    scale: 1.2;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.gap-10 {
    gap: 10px;
}

/* HEADER */
header {
    height: 10vh;
    background: linear-gradient(to right, #eee 25%, #aaa 50%, var(--clr-main) 50%);}

header .container {}
header .logo {
    position: relative;
}
header .logo p {
    font-size: 28px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    letter-spacing: 3px;
    text-shadow: 0px 10px 15px;
}

header .logo::first-letter {
    color: var(--clr-main, #429);
    text-transform: capitalize;
}

header .menu {
    position: relative;
}

header .menu i {
    cursor: pointer;
    font-size: 24px;
    color: #eee;
    transition: all .5s;
    transform: rotate(90deg);
}

header .menu i:hover {
    scale: 1.25;
    transform: rotate(0);
}

header .menu i ul {
    scale: 0;
    position: absolute;
    width: 160px;
    top: 48px;
    left: -125px;
    border-radius: 0 0 10px 10px;
    background-color: #eee;
    transition: all .5s;
    box-shadow: 0px 23px 21px -14px #000;
}

header .menu i ul li {
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 5px;
    transition: all .5s;
    position: relative;
    color: #422752;
}
header .menu i ul li::before {
    position: absolute;
    content: '';
    height: 0;
    top: 0;
    left: 0;
    transition: all .5s;
    z-index: -1;
    background-color: #422752c2;
    width: 0;
}
header .menu i ul li:hover::before {
    width: 100%;
    height: 100%;
}
header .menu i ul li:hover {
    color: #fff;
}

header .menu i ul li:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

header .menu i ul a:last-child li {
    border-radius: 0 0 10px 10px;
}

header .menu i.active {
    scale: 1.25;
    transform: rotate(0);
}

header .menu i.active ul {
    scale: 1;
}

/* Welcome Section */
.welcome {
    display: flex;
    height: 90vh;
    background: linear-gradient(to right, #eee 25%, #aaa 50%, var(--clr-main) 50%);
}
.welcome .txt {
    flex: 1;
    font-size: 28px;
    padding-left: 80px;
}
.welcome .txt .info {
}
.welcome .txt .info p {
    
}
.welcome .txt .info h1 {
    text-transform: capitalize;
    width: 70%;
    color: var(--clr-main, #429);
    font-size: 54px;
}
.welcome .txt .info h5 {}
.welcome .txt .info .btns {
    display: flex;
    margin-top: 15px;
    gap: 5px;
}
.welcome .txt .info .btns .btn {
    border-bottom: 5px solid;
    position: relative;
    color: var(--clr-main, #429);
}
.welcome .txt .info .btns .btn::after {
    position: absolute;
    content:'';
    width: 0;
    height: 100%;
    background-color: var(--clr-main, #429);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}
.welcome .txt .info .btns .btn:hover::after {
    width: 100%;
}
.welcome .txt .info .btns .btn:hover {
    transform: unset;
    color: white;
    border-color: var(--clr-main, #429);
}

.welcome .photo {
    flex: 1;
    padding-right: 80px;
    align-items: end;
}
.welcome .photo img {
    width: 460px;
}
@media (max-width:1080px) {
    .welcome .txt {
        font-size: 24px;
    }
    .welcome .txt .info h1 {
        font-size: 40px;
    }
}
@media (max-width:1000px) {
    .welcome .photo {
        padding-right: unset;
    }
    .welcome .txt {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        background-color: #eee;
        padding: 10px;
        border-radius: 15px 15px 0 0;
        width: 75vw;
        background: linear-gradient(to right, #aaa, #eee);
}
}
@media (max-width:540px) {
    .welcome .txt {
        font-size: 18px;
    }
    .welcome .txt .info h1 {
        font-size: 32px;
    }
    .welcome .photo img {
        width: 390px;
    }
}